@{
    ViewData["Title"] = "No Category Available";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>No Categories Available</h2>
<p>Please add a Cage before proceeding.</p>
<a asp-controller="Category" asp-action="Create">Add Cage</a>
